:root {
    --text-title: #51626e;
    --text-header: #20455e; 
    --text-button: #3899ec;
    --bg-button: #c1e4fe;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.admin-manager {

    & a {
        text-decoration: none;
    }
    
    & .btn {
        padding: 5px 20px;
        cursor: pointer;
        border-top-left-radius: 21px;
        border-bottom-left-radius: 21px;
        border-top-right-radius: 21px;
        border-bottom-right-radius: 21px;
    }
    
    & .btn-circle {
        width: 40px;
        height: 40px;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    & .group-box {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 15px 0 rgba(22, 45, 60, 0.1);
    }

    .loading-page {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}



