@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.modal-slide {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 99999;
    
    
    .modal-dialog-bg {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-content {
            position: relative;
            background: #fff;
            padding: 15px;
            width: 65%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;

            .close-modal-btn {
                position: absolute;
                top: -20px;
                right: -20px;
                width: 40px;
                height: 40px;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.8);
                }

                i {
                    font-size: 21px;
                    color: #fff;
                }
            }

            .wrapper {  
                position: relative;
                width: 500px;
                overflow: hidden;

                .slides-container {
                    height: 500px;
                    transition: 700ms;

                    .slide-image {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
    
                &:hover {
                    .prev-btn, .next-btn { 
                        opacity: 1;
                    }
                }

                .prev-btn, .next-btn {
                    opacity: 0;
                    padding: 30px 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.54);
                    z-index: 100;
                    cursor: pointer;
                    transition: 400ms;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.6);
                    color: var(--color-layout);

                    i {
                        font-size: 30px;
                    }
                }

                .prev-btn:hover, .next-btn:hover { 
                    background: var(--color-layout);
                    color: #fff;
                }

                .prev-btn {
                    left: 0;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                .next-btn {
                    right: 0;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }

            .wrapper-item {
                width: 100%;
                height: 100px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;

                .item {
                    cursor: pointer;
                    width: 100px;
                    height: 100px;
                    margin: 5px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .item.active {
                    border: 2px solid var(--color-layout);
                }
            }
        }
    }
}

.modal-slide.fade {
    visibility: hidden;
}

.modal-slide.fade.show {
    visibility: visible;
}



@media screen and (max-width: 1024px) { 
    .modal-slide .modal-dialog-bg .modal-content {
        width: 80%;
        .wrapper-item {
            height: auto
        }
    }
}

@media screen and (max-width: 820px) {
    .modal-slide .modal-dialog-bg .modal-content {
        grid-template-columns: 1fr;

        .wrapper {
            width: 100%;

            .slides-container {
                height: 400px;
            }
        }

        .wrapper-item {
            height: auto;
            
            .item {
                width: 90px;
                height: 90px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .modal-slide .modal-dialog-bg .modal-content {
        width: 90%;

        .wrapper .slides-container {
            height: 300px;
        }

        .wrapper {

            .next-btn, .prev-btn {
                opacity: 1;
                padding: 20px 10px;

                i {
                    font-size: 25px;
                }
            }
        }
        
        .wrapper-item {
            display: none;
        }
    }
      
}