
.modal-open {
    visibility: visible;

    & .addi-modal-bg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3006;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(22,45,61,.48);
        transition: all .3s ease;

        & .addi-modal {
            width: 620px;
            opacity: 1;
            transform: scale(100%);
            transition: all .5s ease;

            & .additioalInfo{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                height: 100%;

                & .addi-modal-title {
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #3899ec;
                    color: #fff;
                    height: 60px;
                    line-height: 60px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;

                    & h1 {
                        margin: 0;
                        font-size: 20px;
                        line-height: 1;
                    }

                    & .btn-close-modal {
                        font-size: 20px;
                        cursor: pointer;
                    }

                    & .btn-close-modal:hover {
                        opacity: 0.6;
                    }
                }

                & .addi-modal-content {
                    background: #fff;
                    padding: 30px;

                    & .form-group {
                        margin-bottom: 20px;
                    }

                    & label {
                        font-size: 16px;
                        color: #20455e;
                        font-weight: 400;
                        margin-bottom: 12px;
                    }
                }

                & .addi-modal-footer {
                    padding: 0 36px 30px;
                    background-color: #fff;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    margin-top: -1px;
                    padding-top: 1px;
                    display: flex;
                    justify-content: space-between;

                    & .group-button {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        & .modal-cancel {
                            cursor: pointer;
                            color: #3899ec;
                            margin-right: 20px;
                        }
                        
                       

                        & .modal-save {
                            cursor: pointer;
                            background: #3899ec;
                            color: #fff;
                            padding: 7px 20px;
                            border-top-left-radius: 21px;
                            border-top-right-radius: 21px;
                            border-bottom-left-radius: 21px;
                            border-bottom-right-radius: 21px;
                        }

                        & .modal-save:hover {
                            opacity: 0.8;
                        }
                    }

                    & .modal-remove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        color: #ce1111;
                        margin-right: 20px;
                    }
                }
            }
        }

        & .addi-modal.cancel {
            opacity: 0;
            transform: scale(0%);
        }
    }
}

.modal-open.hidden {
    visibility: hidden;
}
