
.modal-open {
    visibility: visible;

    & .category-modal-bg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3006;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(22,45,61,.48);
        transition: all .3s ease;

        & .category-modal {
            width: 620px;
            opacity: 1;
            transform: scale(100%);
            transition: all .5s ease;

            & .categoryInfo{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                height: 100%;

                & .category-modal-title {
                    padding: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #3899ec;
                    color: #fff;
                    height: 60px;
                    line-height: 60px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;

                    & h1 {
                        margin: 0;
                        font-size: 20px;
                        line-height: 1;
                    }

                    & .btn-close-modal {
                        font-size: 20px;
                        cursor: pointer;
                    }

                    & .btn-close-modal:hover {
                        opacity: 0.6;
                    }
                }

                & .category-modal-content {
                    background-color: #fff;
                    padding: 30px;

                    & .search-category {
                        position: relative;
                        border: 1px solid #c6e2f7;
                        border-radius: 36px;
                        display: flex;
                        align-items: center;
                        padding: 0 0 0 10px;
                        min-width: 210px;
                        width: 100%;
                        height: 36px;
                        line-height: 36px;
                      
                        
                        & i {
                            color: var(--text-button);
                            left: 10px;
                        }

                        & .search-wrapper {
                            position: relative;
                            display: inline-block;
                            width: calc(100% - 55px);
                            height: 100%;

                            & input {
                                position: absolute;
                                top: 0;
                                left: 10px;
                                width: 100%;
                                height: 100%;
                                font-weight: 100;
                                background: transparent;
                                border: none;
                            }

                            & input:focus {
                                outline: none;
                            }

                            & input::placeholder {
                                color: var(--text-title);
                            }
                        }

                        & .btn-remove {
                            position: absolute;
                            right: 10px;
                            cursor: pointer;
                        }
                    }

                    & .search-category:hover {
                        background: #c6e2f7;
                    }

                    & .search-category:focus {
                        background: transparent;
                    }

                    & .product-list {
                        list-style: none;
                        padding: 0;
                        margin-top: 15px;
                        max-height: 350px;
                        height: auto;
                        overflow-y: scroll;

                        & .product-row {
                            cursor: pointer;
                            padding: 5px;
                            width: 100%;

                            & .wrapper {
                                display: flex;
                                align-items: center;
                                margin: 0 25px;
                                height: 75px;

                                & .media-container {
                                    display: block;
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 50%;
                                    overflow: hidden;

                                    & img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }

                                & span {
                                    padding-left: 20px;
                                    width: 383px;
                                    font-size: 18px;
                                    font-weight: 200;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                & .checkbox {
                                    padding-left: 20px;

                                    & label {
                                        position: relative;
                                        height: 16px;
                                        width: 16px;
                                        border: medium none;
                                        user-select: none;

                                        & .check-list {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            overflow: hidden;
                                            height: 1px;
                                            width: 1px;
                                            padding: 0;
                                            border: 0;
                                            opacity: 0;
                                        }

                                        & .checkbox-inner {
                                            position: absolute;
                                            cursor: pointer;       
                                            width: 24px;
                                            height: 24px;
                                            border-radius: 50%;
                                            background: transparent;
                                            border: 1px solid #6eb7fd;

                                            & i {
                                                font-size: 10px;
                                                position: absolute;
                                                width: 24px;
                                                height: 24px;
                                                border-radius: 50%;
                                                left: -1px;
                                                display: none;
                                                justify-content: center;
                                                align-items: center;
                                                color: #fff;
                                            }
                                          
                                        }

                                        & .checkbox-inner.checked {
                                            background: #6eb7fd;

                                            & i {
                                                display: flex;
                                            }
                                        }
                                   
                                    }

                                    & label:hover .checkbox-inner{
                                        background: rgba(110, 183, 253, .5);
                                    }
                                }
                            }
                        }

                        & .product-row:hover {
                            background: #c6e2f7;
                        }

                        & .product-row-emty {
                            display: flex;
                            justify-content: center;

                            & h3 {
                                font-size: 20px;
                                font-weight: 300;
                            }
                        }

                    }
                }

                & .category-modal-footer {
                    padding: 0 36px 30px;
                    background-color: #fff;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    margin-top: -1px;
                    padding-top: 1px;
                    display: flex;
                    justify-content: space-between;

                    & .group-button {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;

                        & .modal-cancel {
                            cursor: pointer;
                            color: #3899ec;
                            margin-right: 20px;
                        }

                        & .modal-save {
                            cursor: pointer;
                            background: #3899ec;
                            color: #fff;
                            padding: 7px 20px;
                            border-top-left-radius: 21px;
                            border-top-right-radius: 21px;
                            border-bottom-left-radius: 21px;
                            border-bottom-right-radius: 21px;
                        }

                        & .modal-save:hover {
                            opacity: 0.8;
                        }
                    }

                    & .modal-remove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        color: #ce1111;
                        margin-right: 20px;
                    }
                }
            }
        }

        & .category-modal.cancel {
            opacity: 0;
            transform: scale(0%);
        }
    }
}

.modal-open.hidden {
    visibility: hidden;
}
