
.pd-collection {
    width: 100%;
    height: 100%;
    padding: 30px 50px 0 50px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & .hd-left {
            display: flex;
            font-size: 40px;

            & div {
                font-weight: 600;
                color: var(--text-header);
                margin-right: 10px;
            }

            & span {
                font-weight: bold;
                color: #7a92a5;
            }
        }

        & .btn-add-collection {
            font-family: 'Georama', sans-serif;
            font-weight: 500;
            cursor: pointer;
            background: #3899ec;
            color: #fff;
            text-decoration: none;

            & i {
                margin-right: 10px;
            }
        }

        & .btn-add-collection:hover {
            opacity: .8;
        }
    }

    &__content {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;

        & .card-box {
            position: relative;
            width: calc(25% - 20px);
            height: 200px;
            margin-left: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            cursor: pointer;
           

            & .card-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
               
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transform: scale(100%);
                    transition: transform .4s ease;
                }
            }

            & .card-shadow {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: rgba(22,45,61,.2) linear-gradient(180deg,rgba(22,44,60,0),rgba(22,44,60,.8));
                background-blend-mode: multiply;
                opacity: .6;
                border-radius: 8px;
            }

            & .card-content {
                width: 100%;
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 25px;
                padding-bottom: 20px;
                font-size: 20px;
                font-size: 600;
                color: #fff;

                & .name-collection {
                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & .count-collection {
                    width: 15%;
                }
            }

            & .card-option {
                position: absolute;
                top: 20px;
                right: 20px;
                color: #fff;

                & .btn-option {
                    font-size: 23px;
                    font-weight: 600;
                    position: relative;

                    & .content-option {
                        position: absolute;
                        right: 120%;
                        padding: 15px;
                        color: #000;
                        display: none;
                        justify-content: center;
                        align-items: center;

                        & .list-option {
                            font-size: 14px;
                            font-weight: 100;

                            & .item-option {
                                white-space: nowrap;
                                padding: 5px 0;

                                & i {
                                    margin-right: 10px;
                                }
                            }

                            & .item-option:hover {
                                color: var(--text-button);
                            }

                            & .item-remove:hover {
                                color: red;
                            }
                        }
                    }
                   

                    & .content-option.active {
                        display: flex;
                        z-index: 99999;
                    }
                    
                    & .content-option::before {
                        content: '';
                        right: -3px;
                        transform: translateY(-6px);
                        border-left-color: #fff;
                        z-index: 12;
                        width: 0;
                        height: 0;
                        border: 6px solid transparent;
                        background: none;
                        margin-top: 1px;
                        position: absolute;
                        top: 50%;
                    }
        
                    & .content-option::after {
                        content: "";
                        width: 6px;
                        height: 6px;
                        margin-top: 4px;
                        background-color: hsla(0,0%,100%,.95);
                        position: absolute;
                        right: -3px;
                        box-shadow: 3px -3px 6px rgba(0, 0, 0, .1);
                        transform: translateY(-7px) rotate(45deg);
                        top: 50%;
                    }
                   
                }

                & .btn-option:hover {
                    background: var(--bg-button);
                    color: var(--text-button);
                }

                & .btn-option.active {
                    background: var(--bg-button);
                    color: var(--text-button);
                }
            }
        }

        & .card-box:hover .card-bg img {
            transform: scale(110%);
        }

        & .tooltip-backdrop {
            display: none;
        }

        & .tooltip-backdrop.active {
            background-color: transparent;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3999;
            display: flex;
        }

        & .card-box-add {
            width: calc(25% - 20px);
            height: 200px;
            margin-left: 20px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
            display: flex;
            justify-content: center;
            align-items: center;

            & .btn-add-ct {
                color: var(--text-button);
                font-size: 50px;
                width: 50px;
                height: 50px;
                position: relative;
            }

            & .btn-add-ct::after {
                content: 'Bộ sưu tập mới';
                font-size: 14px;
                position: absolute;
                white-space: nowrap;
                top: 120%;
                background: var(--bg-button);
                padding: 5px 15px;
                border-radius: 5px;
                visibility: hidden;
                opacity: 0;
                transition: all .4s ease;
            }

            & .btn-add-ct:hover::after { 
                visibility: visible;
                opacity: 1;
            }

            & .btn-add-ct:hover {
                background: var(--bg-button);
            }
        }
    }

   
}